.post{
  border:1px solid black;
  margin:5px;
  padding: 10px 20px 0;
}

.post.post-active{
  border:1px solid rgb(231, 252, 173);
}

.post.post-archive{
  border:1px solid rgb(252, 204, 173);
}

.post_title {
  display: flex;
  align-items: center;
}

.post_img {
  height: 30px;
}

.post_date {
  padding: 0 0 10px 30px;
  display: block;
}

.post_author {
  text-align: end;
  margin: 8px 0;
}

.post_btn {
  display:flex;
  flex-direction: row-reverse;
}

.comments {
  display: flex;
  gap: 30px;
}

.post_btn_list {
  display: flex;
  justify-content: end;
  align-items: center;
}

.post_btn_list .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post_btn_list img {
  width: 35px;
}

.link_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 1000px) {
  .link_list {
    flex-direction: row;
  }
}

.link_new_posts,
.link_see_all_posts,
.link_see_all_comments {
  margin: 20px;
}

.link_new_posts a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img.picturePost {
  width: 48px;
  height: 48px;
}

.post_picturePost {
  width: 200px;
  height: 200px;
}