.post{
  border:1px solid black;
  margin:5px;
  padding: 10px 20px 0;
}

.post_title {
  display: flex;
  align-items: center;
}

.post_img {
  height: 30px;
}

.post_date {
  padding: 0 0 10px 30px;
  display: block;
}

.post_author {
  text-align: end;
  margin: 8px 0;
}

.post_btn {
  display:flex;
}

.comments {
  display: flex;
  gap: 30px;
}