
h1 {
  font-size:xx-large;
  font-weight: 600;
}

h2 {
  font-size: larger;
  font-weight: 500;
  margin-top:20px;
}

h3 {
  font-size: medium;
  text-decoration: underline;
  font-weight: 600;
  margin: 20px 0 ;
}