.download {
  border: solid rgb(182, 182, 182) 1px;
  margin: 10px auto;
  padding: 10px 20px 0 20px ;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
}

@media screen and (min-width: 900px) {
  .download {
    flex-direction: row;
    gap:8px;
    padding: 0 20px;  
  }
}

.download_title{
  font-size: larger;
  font-weight: 600;
}
