
@import 'commont/header.css';
@import 'commont/footer.css';
@import 'utility/typo.css';
@import 'utility/btn.css';
@import 'utility/list.css';
@import 'utility/input.css';
@import 'post/post.css';
@import 'post/pagination.css';
@import 'formContact.css';
@import 'download.css';

html {
  max-width: 80% ;
  margin: auto ;
  box-sizing:  border-box;
}

.border {
  border: 1px solid red;
}
