
@import 'commont/header.css';
@import 'commont/footer.css';
@import 'utility/typo.css';
@import 'utility/btn.css';
@import 'utility/list.css';
@import 'utility/input.css';
@import 'post/post.css';
@import 'user/user.css';
@import 'post/pagination.css';
@import 'comment/comment.css';
@import 'comment/form.css';
@import 'formContact.css';
@import 'download.css';
@import 'login/popup.css';

html {
  max-width: 80% ;
  margin: auto ;
  box-sizing:  border-box;
}

button {
  border: none;
  background: none;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

.border {
  border: 1px solid red;
}
