<div class="commentForm">
    <h3 class="commentForm_title">Ajouter un nouveau commentaire !</h3>

    <form action="/post/{{ post.id }}/addComment" method="post">
        <div class="commentForm_field">
            <textarea name="body" placeholder="Votre commentaire ..."></textarea>
        </div>
        
		<input hidden type="number" name="userSessionId" value="{{ userSession.id }}">
	    <button class="btn btn--add" type="submit">Commenter !</button>
    </form>
</div>