<div class="commentForm">
    <h3 class="commentForm_title">Ajouter un nouveau commentaire !</h3>

    <form action="/post/{{ post.id }}/addComment" method="post">
        <div class="commentForm_field">
            <textarea name="body" placeholder="Votre commentaire ..."{{ (userSession is empty) ? 'disabled' }}></textarea>
        </div>
        
	    <button class="btn btn--add" type="submit" {{ (userSession is empty) ? 'disabled' }}>Commenter !</button>
    </form>

    {% if userSession is empty %}
        <p>Connectez vous pour commenter !</p>
    {% endif %}
</div>