{% if commentList is not empty %}
<div class="commentList">

    <h3 class="commentList_title">Commentaires</h3>

	{% for comment in commentList %}
		
    <div class="comment">

        <div>
            <p class="comment_body">{{ comment.body }}</p>
            <p>{{ comment.updated_at is not empty ? comment.updated_at : comment.createdAt|date("l d F à G\\hi") }}</p>
            <p class="comment_author">{{ comment.user.name }}</p>
        </div>

    </div>
	{% endfor %}
</div>
{% else %}
<p>Il n'y a pas encore de commentaires, Commentez !! ;)</p>
{% endif %}
