<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OCR - Blog</title>
	<link rel="stylesheet" href="app/style/reset.css">
	<link rel="stylesheet" href="app/style/style.css">

</head>
	<body>
		{% include "commons/header.twig" %}

		<main>
		{% block content %}{% endblock %}
		</main>

		{% include "commons/footer.twig" %}
	</body>
</html>