{% extends "base.twig" %}

{% block content %}

	<h1>Bienvenue sur mon blog dédié à la menuiserie ! </h1>

	<div>
		<p>Bienvenue chez <span class="nameEntity">VosBeauxMeubles</span>, votre partenaire de confiance pour la création de meubles sur mesure qui transforme vos espaces de vie.</p>

		<h2>Qui Sommes-Nous ?</h2>
		<p><span class="nameEntity">VosBeauxMeubles</span> est une entreprise artisanale de menuiserie établie avec passion et dévouement. Dirigée par une nouvelle tête, une personne jeune et dynamique, notre équipe combine tradition et innovation pour offrir des solutions sur mesure à nos clients.</p>

		<h2>Notre Savoir-Faire</h2>
		<p>Nous sommes spécialisés dans la conception et la fabrication de meubles sur mesure, adaptés à vos besoins spécifiques et à votre style de vie. Que ce soit pour votre maison, votre bureau ou tout autre espace, nous travaillons avec vous pour créer des pièces uniques qui reflètent votre personnalité et embellissent votre environnement.</p>

		<h2>Nos Valeurs</h2>
		<p>À <span class="nameEntity">VosBeauxMeubles</span>, nous croyons en la qualité, la durabilité et le service clientèle exceptionnel. Chaque pièce que nous fabriquons est réalisée avec une attention méticuleuse aux détails et avec les meilleurs matériaux disponibles. Nous nous engageons à garantir la satisfaction totale de nos clients à chaque étape du processus.</p>

		<h2>Notre Engagement</h2>
		<p>En tant qu'entreprise locale, nous sommes fiers de soutenir notre communauté et de promouvoir l'artisanat traditionnel. Nous nous efforçons également d'adopter des pratiques respectueuses de l'environnement dans tout ce que nous faisons, en utilisant des matériaux durables et en minimisant notre empreinte écologique.</p>

		<h2>Blog</h2>
		<p>Quelque idée de réalisation !</p>
		<a href="post">Voir les articles de la maison !</a>

		<h2>Contactez-Nous</h2>
		<p>Vous avez un projet de mobilier sur mesure en tête ? N'hésitez pas à nous contacter pour discuter de vos idées et obtenir un devis personnalisé. Chez <span class="nameEntity">VosBeauxMeubles</span>, nous sommes là pour transformer vos rêves en réalité.</p>

		<p>Merci de nous faire confiance pour vos projets de menuiserie sur mesure !</p>
	</div>

{% endblock %}