
    <footer>
      <h3>réseaux sociaux</h3>
      <ul class="socialNetworkList">
        <li class="socialNetwork">
          <img class="fit-picture" src="../../app/assets/images/instagram.png" alt="insta" />
            <a href="/user">Instagram</a>
          </li>
        <li class="socialNetwork">
          <img class="fit-picture" src="../../app/assets/images/facebook.png" alt="insta" />
            <a href="/user">Facebook</a>
        </li>
        <li class="socialNetwork">
          <img class="fit-picture" src="../../app/assets/images/linkedin32.png" alt="insta" />
            <a href="/user">linkedin</a>
        </li>
        <li></li>
        <li></li>
      </ul>
    </footer>