<footer>
  <h3>Réseaux sociaux</h3>
  <ul class="socialNetworkList">
    <li class="socialNetwork">
      <img class="fit-picture" src="../../public/assets/images/instagram.png" alt="insta" />
      <a href="https://www.instagram.com/" target="blanck">Instagram</a>
    </li>
    <li class="socialNetwork">
      <img class="fit-picture" src="../../public/assets/images/linkedin32.png" alt="insta" />
      <a href="https://www.linkedin.com/in/margauxpuget/" target="blanck">linkedin</a>
    </li>
  </ul>
</footer>