	<header class="header">
		<div class="">
			<span class ="nameAuthor">Margaux Puget</span>
			<div class="header_title">
					<img class="fit-picture" src="../../app/assets/images/logo64.png" alt="logo" />
					<h1>Le meuble pratique !</h1>
			</div>
					<span class="header_subtitle">Le meuble dont vous avez besoin</span>
		</div>

		<div class="">
			<div>
			<button class="btn btn--login" type="submit">Se connecter !</button>
    				
			</div>
			<nav class="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/user">User</a>
				</li>
				<li>
					<a href="/post">Articles</a>
				</li>
			</nav>	
		</div>
	</header>