	<header>
		<div class="flex">
				<img class="fit-picture" src="../../app/images/logo64.png" alt="logo" />
				<h1>Le meuble pratique !</h1>
		</div>


		<nav>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/user">User</a>
			</li>
			<li>
				<a href="/post">Articles</a>
			</li>
		</nav>	
	</header>