<header class="header">
	<div class="">
		<span class ="nameAuthor">Margaux Puget</span>
		<div class="header_title">
				<img class="header_img" src="../../public/assets/images/employe.png" alt="logo" />
				<h1>Un site pour vous </h1>
		</div>
				<span class="header_subtitle">Le site dont vous avez besoin</span>
	</div>

	<div class="">
		<div>
		<button class="btn btn--login" type="submit">Se connecter !</button>
					
		</div>
		<nav class="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/user">User</a>
			</li>
			<li>
				<a href="/posts">Articles</a>
			</li>
		</nav>	
	</div>
</header>
