<div class="loginPopup">
  <h1>Connection</h1>

	<form class="loginForm" action="" method="post">
		<div class="input">
			<label for="email">Email :</label>
			<input type="email" name="email" value="">
		</div>
		<div class="input">
			<label for="password">Mot de passe :</label>
			<input type="password" name="password">
		</div>

		<button class="btn btn--login" type="submit">Connexion</button>
	</form>

	<ul class="loginNav">
		<li class=""><a href="" class="loginNav_link loginNav_link_active">Connection</a></li>
		<li class=""><a href="" class="loginNav_link">Creation de compte</a></li>
	</ul>
</div>