<div class="js-popup loginPopup hidden">

	<button class="js-closePopup closePopup">X</button>

  <h1>Connection</h1>

	<form class="js-popup-form loginPopupForm loginForm" action="" method="post">
		<div class="input">
			<label for="email">Email :</label>
			<input type="email" name="email" value="">
		</div>
		<div class="input">
			<label for="password">Mot de passe :</label>
			<input type="password" name="password">
		</div>

		<button class="btn btn--login" type="submit">Connexion</button>
	</form>

	<form class="js-popup-form loginPopupForm addUser isHidden" action="/addUser" method="post">
		<div class="input">
			<label for="firstname">Prénom :</label>
			<input type="text" name="firstname" value="Mar">
		</div>
		<div class="input">
			<label for="lastname">Nom :</label>
			<input type="text" name="lastname" value="Pug">
		</div>
		<div class="input">
			<label for="email">Email :</label>
			<input type="email" name="email" value="mar.pu@gmil.com">
		</div>
		<div class="input">
			<label for="password">Mot de passe :</label>
			<input type="password" name="password" value="devine">
		</div>

		<button class="btn btn--login" type="submit">Se créer un compte</button>
	</form>

	<ul class="loginNav">
		<li class="js-popup-btn loginNav_link loginNav_link_active">Connection</li>
		<li class="js-popup-btn loginNav_link">Creation de compte</li>
	</ul>
</div>